header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 105, 1);
    height: 50px;
}
#logo{
    color: aliceblue;
    padding-left: 20px;
}
#serchbar{
    margin-right: 10px;
}
#main{
    display: flex;
}

#content{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(10,1fr);    padding: 10px;
    border: solid 1px;
}
h3{
    background-color: #fff;
}
li{
    padding-bottom: 10px;
    list-style: none;
    font-size: larger;
}
#users{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    column-gap: 1px;
    margin-bottom: 5px;
    border: solid 1px;  
}
#cancel{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
.cancel{
    border-radius: 5    0%;
    padding: 15px;
    background-color: crimson;
}
button{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    margin: 2%;
    border-radius: 50%;
    border: none;
    background-color: darkblue;
    color: aliceblue;
}
#addnew{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    margin: 2%;
    border-radius: 50px;
    border: none;
    background-color: darkblue;
    color: aliceblue;
}
a{
    display: flex;
    align-items: center;
    background-color: #fff;
    border: solid 1px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    background-color: darkblue;
}
#delete{
    background-color: crimson;
}


#addbody{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    position: relative;
    border: 1px solid ;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    height: 50%;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    justify-content: space-between;
}
input{
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 10%;
}
#register{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 15, 0.1);
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
}
#reg{
    color: aliceblue;
    background: linear-gradient(to bottom, blue,darkblue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
#regs{
    cursor: white;
    color: aliceblue;
}


@media screen and (max-width:768px) {
    form{
        width: 90%;
    }
}