<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resgister</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="register">
        {%for i in get_flashed_messages()%}
        {{i}}
        {%endfor%}
    <h1>Log In</h1>
        <form id="reg" action="/login" method="post">
            <input id="regs" type="text" placeholder="username" name="username">
            <input id="regs" type="password" name="password" id="password" placeholder="password">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>